.App {
    height: 100vh;
    min-height: 800px;
}

.report {
    min-height: calc(100% - 88px);
    overflow: auto;
    background-color: #101b66;
    padding-bottom: 50px;
}

.section {
    padding: 40px 0 60px 0;
}

.select-option:hover {
    background-color: #e6f2ff;
}

.select-option {
    color: #fff;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
}

.section-title {
    font-size: 16px;
}

.section-desc {
    font-size: 14px;
    color: #b4c1e0;
}

input[use-for="search-lesson-table"]::-webkit-input-placeholder {
    color: #FFF;
}

input[use-for="search-basic-info"]::-webkit-input-placeholder {
    color: #8f8f8f;
}

input[use-for="select"]::-webkit-input-placeholder {
    color: #7d7d7d;
}