.home {
    text-align: center;
    background: url(../images/back.png) no-repeat center center;
    background-size: cover;
    height: 100%;
    min-width: 1300px;
    color: #FFF;
    overflow: auto;
}

.home .number {
    font-family: 'Aldrich', sans-serif;
}

.home i.search {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 18px;
    top: 12px;
    background: url(../images/search.png) no-repeat center center;
    background-size: contain;
}

.home>.cards>div {
    cursor: pointer;
    background-size: contain;
}

.home>.cards>div:nth-child(1) {
    background: url(../images/1.png) no-repeat center center;
}

.home>.cards>div:nth-child(2) {
    background: url(../images/2.png) no-repeat center center;
}

.home>.cards>div:nth-child(3) {
    background: url(../images/3.png) no-repeat center center;
}

.home>.cards>div:nth-child(4) {
    background: url(../images/4.png) no-repeat center center;
}

.home>.cards>div:nth-child(5) {
    background: url(../images/5.png) no-repeat center center;
}

.home>.cards>div:nth-child(6) {
    background: url(../images/6.png) no-repeat center center;
}

.home>.cards>div:nth-child(7) {
    background: url(../images/7.png) no-repeat center center;
}

.home>.cards>div:nth-child(8) {
    background: url(../images/8.png) no-repeat center center;
}