.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
    color: #FFF !important;
}

.Select-menu-outer {
    border: 2px solid #586DA7;
    background-color: #123391;
    color: #FFF;
}

.Select-option {
    color: #CCC !important;
    background-color: #123391;
}